header{
    nav{
        font-family: $titulo;
        font-weight:300px;
        text-decoration: none;
        background-color: $amarillo;
            img{
                width: 200px;
            }
            & li :not(.dropdown-item){
                &:hover{
                    transform: scale(1.05);
                    transition: 100ms ease;
                }
            }
    }
    .navbar-nav li .dropdown-menu {
        background-color: $amarillo; 
    }
}