// VARIABLES
$turquesa: #1291d5;
$verde: #00ff7b;
$amarillo: #ffcc00;
$naranja: #f75c03;
$rojo: #fc3d20;
$rosa: #ff6691;
$lila: #9c85d9;

$titulo: 'Lexend Deca', sans-serif;
$texto: 'Montserrat', sans-serif;
